.table > tbody > tr > td.dropped_points {
	background-color: #AADDFF !important;
}

.table > tbody > tr > td.non_droppable {
	background-color: yellow !important;
	color: red !important;
}

.table > tbody > tr.non_droppable > td {
	background-color: yellow !important;
	color: red !important;
}

.table > tbody > tr.row-striped-odd  > td {
  background-color: #f9f9f9;
}

.menu-item {
  min-height: 157px;
}

.glyphicon-chevron-up {
  color: #279100;
}

.glyphicon-chevron-down {
  color: #FC5421;
}