{% extends "layout.html" %}
{% block body %}

<div class="row">
    <p><a class="btn btn-primary" href="{{ url_for('season_overview', selected_season=selected_season) }}"
          role="button">&laquo; Back to home page</a></p>
</div>

<div class="row">
    <h1>CalSpeed Super Series {{ selected_season }}: {{ season_data.get_driver_classes()[dclass].name }}
        Championship</h1>
</div>

{% if not season_data.is_approved() %}
    <div class="alert alert-warning" role="alert"><b>The results are not official yet!</b> The last round is pending approval. This message will disappear once the results get approved by the race director.</div>
{% endif %}

<table class="table table-striped">
    <thead>
    <tr>
        <th>Pos</th>
        <th>+/-</th>
        <th>Driver name</th>
        {% for round in range(season_data.get_total_rounds()) %}
        <th>{{ round+1 }}</th>
        {% endfor %}
        <th>Drops</th>
        <th>Total</th>
        <th>Diff</th>
    </tr>
    </thead>

    <tbody>

    {% for item in table.get_table() %}
    <tr>
        <td>{{ item.position }}</td>
        <td>{% if item.position_change > 0 %}{{ item.position_change }} <span class="glyphicon glyphicon-chevron-down"></span>{% elif item.position_change < 0 %}{{ item.position_change|abs }} <span class="glyphicon glyphicon-chevron-up"></span>{% else %}{{ item.position_change }}{% endif %}</td>
        <td>{{ item.driver }}</td>
        {% for item in item.rounds %}
        {% if item.dropped %}
        <td class="dropped_points">{{ item.points }}</td>
        {% elif item.non_droppable %}
        <td class="non_droppable">{{ item.points }}</td>
        {% elif item.exists %}
        <td>{{ item.points }}</td>
        {% else %}
        <td>-</td>
        {% endif %}
        {% endfor %}
        <td>{{ item.dropped_points }}</td>
        <td>{{ item.total_points }}</td>
        <td>{% if first_place_points %}{{ item.total_points - first_place_points }}{% else %}{% set first_place_points = item.total_points %}{% endif %}</td>
    </tr>
    {% endfor %}
    </tbody>

</table>

{% endblock %}

