<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <meta name="viewport" content="width=1000px">
    <meta name="description" content="CalSpeed Super Series Points">
    <meta name="author" content="Roman Alekseenkov">

    <title>CalSpeed Super Series Points</title>

    <!-- jQuery JS -->
    <script src="{{ url_for('static', filename='jquery/jquery.min.js') }}"></script>

    <!-- Bootbox JS -->
    <script src="{{ url_for('static', filename='bootbox/bootbox.min.js') }}"></script>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Bootstrap core JS -->
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='offcanvas.css') }}" rel="stylesheet">

    <!-- Custom JS for this template -->
    <script src="{{ url_for('static', filename='offcanvas.js') }}"></script>

    <!-- Main CSS -->
    <link href="{{ url_for('static', filename='main.css') }}" rel="stylesheet">

    {% if admin %}
        <!-- Admin CSS -->
        <link href="{{ url_for('static', filename='admin.css') }}" rel="stylesheet">
    {% endif %}

</head>

<body>

<div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            {% if admin %}
                <a class="navbar-brand" href="{{ url_for('admin') }}"><b>[Admin]</b> CalSpeed Karting Super Series Points</a>
            {% else %}
                <a class="navbar-brand" href="{{ url_for('main_page') }}">CalSpeed Karting Super Series Points</a>
            {% endif %}
        </div>

        {% if admin %}
        <div class="navbar-collapse navbar-right collapse">
          <form class="navbar-form navbar-right" role="form">
            <a href="{{ url_for('logout') }}" class="btn btn-info">Logout: {{ current_user.username }}</a>
          </form>
        </div>
        {% endif %}
    </div>
</div>

<div class="container">

    {% block body %}{% endblock %}

    <hr>

    <footer>
        <p>v0.1 &copy; Roman Alekseenkov 2014</p>
    </footer>

</div>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-52775138-1', 'auto');
  ga('send', 'pageview');
</script>

</body>
</html>
